.button
{
  background-color: rgb(0,0,0);
    border: none;
    margin: 5px;
    padding: 50px;
    font-size: 16px;
    border-radius: 50%;
}

.one
{
  background-color: rgb(136,0,21);
}

.two
{
  background-color: rgb(0,64,28);
}
